$black: #29231F;
$gray: #918D8A;
$white: #F1F0ED;
$brown: #543B34;
$orange: #E16940;
$lt-orange: #EFAF5B;
$yellow: #F8DF7B;
$red: #D82C6B;
$green: #40C022;;
$blue: #2D88B5;
$purple: #9641F0;

$antic: 'Antic Slab', serif;
$quicksand: 'Quicksand', sans-serif;

$big-screen: 1200px;
$medium-screen: 900px;
$tablet: 768px;
$mobile: 420px;


@import 'mixins.scss';


body {
	background: url(../img/darkdenim3.png);
	color: $white;
	font-family: $antic;
	font-size: 19px;
	line-height: 1.5em;
	
	@media screen and (min-width: $medium-screen) and (max-width: $big-screen) {
		font-size: 17px;
		line-height: 1.5em;
	}
	@media screen and (min-width: $tablet) and (max-width: $medium-screen) {
		font-size: 16px;
		line-height: 1.5em;
	}
	@media screen and (min-width: $mobile) and (max-width: $tablet) {
		font-size: 14px;
		line-height: 1.3em;
	}
	@media screen and (max-width: $mobile) {
		font-size: 13px;
		line-height: 1.2em;
	}
}

h1 {
	width: 597px;
	height: 296px;
	margin: 0 auto 2em;
	background: url(../img/cinch.png) center center;
	background-size: contain;
	text-indent: -9999px;
	overflow: hidden;
	
	@media screen and (max-width: $tablet) {
		width: 90%;
		height: $tablet/3;
		margin-bottom: .3em;
		background-repeat: no-repeat;
	}
	
	@media screen and (max-width: $mobile) {
		width: 90%;
		height: $mobile/3;
		margin-bottom: 0;
		background-repeat: no-repeat;
	}
}

h2, h3, h4 {
	font-family: $quicksand
}

h2 {
	margin: 0 0 1em;
	padding: 3em 0 .5em;
	color: $lt-orange;
	font-size: 2.2em;
	border-bottom: 2px solid $lt-orange;
	clear: both;
}

h2 + h5 {
	margin: -1.2em 0 1.8em;
}

h3 {
	margin-bottom: .6em;
	font-size: 1.2em;
	border-bottom: 2px solid $white;
	text-transform: uppercase;
}

h4 {
	margin-bottom: .2em;
	line-height: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
}

h4 + h4 {
	margin-top: 1em;
}

h5 {
	margin-bottom: 1em;
	font-size: 1.2em;
	line-height: 1.4em;
}

h6 {
	font-family: $quicksand;
	font-size: .75em;
	font-weight: bold;
	letter-spacing: .15em;
	text-transform: uppercase;
}

p {
	margin-bottom: 1em;
}

p + h3 {
	margin-top: 3em;
}

p + h4, div + h4 {
	margin-top: 2em;
}

b {
	font-weight: bold;
}

u {
	text-decoration: none;
	border-bottom: 2px solid $white;
	padding-bottom: 2px;
}

a {
	color: $orange;
	text-decoration: none;
	@include transition();
}

a:hover {
	color: $lt-orange;
}


ol {
	margin-bottom: 1em;
	list-style: decimal;
	list-style-position: outside;
}

ol li {
	width: 60%;
	margin: 1em auto;
	font-size: 1.4em;
	line-height: 1.5em;
	
	@media screen and (max-width: $tablet) {
		width: 80%;
	}
}

code {
	display: block;
	width: 100%;
	margin: .6em 0;
	padding: .5em .8em;
	white-space: pre;
	color: $gray;
	font-family: courier new, courier, monospace;
	font-size: .8em;
	background: url(../img/white_bed_sheet.png);
	overflow-x: auto;
	letter-spacing: .04em;
}

code + h3 {
	margin-top: 3em;
}

header {
	padding: 2.5em;
	background: url(../img/white_bed_sheet.png);
	color: $black;	
}

nav {
	width: 100%;
	padding: .8em 0;
	background: $black;
	text-align: center;
	z-index: 50;
	@include shadow();
	
	ul {
		display: inline-block;
		margin: 0 auto;
		@include transition();
	}
	
	li {
		display: inline-block;
		&:before {
			content: "●";
			margin: 0 .2em 0 0;
		}
		&:first-child:before {
			content: "";
			margin: 0;
		}
		
		@media screen and (max-width: $mobile) {
			&:last-child {
				display: none;
			}
		}
	}
	a {
		padding: 1.1em;
		font-family: $quicksand;
		color: $white;
		text-decoration: none;
		text-transform: uppercase;
	}
	
	.download_buttons {
		position: fixed;
		top: 11px;
		right: 50%;
		margin-right: -560px;
		padding: 0;
		z-index: 100;
		a {
			display: inline-block;
			padding: 0;
			vertical-align: top;
		}
		@media screen and (max-width: $big-screen) {
			right: 11px;
			margin-right: 0;
		}
	}

	a.download {
		padding: 2px 16px;
		font-size: .7em;
		font-weight: bold;
		color: $white;
		@include rounded();
		@include gradient(#E87047, #BD461D);
			
		&:hover {
			color: $black;
		}
		
		@media screen and (max-width: $tablet) {
			font-size: 0;
			&:before {
				content: "download";
				padding: 2px 4px;
				font-size: .6rem;
				vertical-align: bottom;
			}
		}
	}
	
	.github {
		width: 33px;
		height: 33px;
		margin-top: -1px;
		background: url(../img/github.png);
		background-size: contain;
		text-indent: -9999px;
		overflow: hidden;

		@include rounded(16px);
		&:hover {
			background-color: $black;
		}
		@media screen and (max-width: $tablet) {
			width: 24px;
			height: 24px;
			background-color: $white;
			@include rounded(12px);
		}
		@media screen and (max-width: $mobile) {
			width: 20px;
			height: 20px;
			background-color: $white;
			@include rounded(10px);
		}
	}
}


.is-sticky {

	nav {
		text-align: left;		
		@media screen and (max-width: $mobile) {
			position: relative !important;
			text-align: center;
		}
	}

	ul {
		margin: 0 0 0 -20px;
	}
	
	.download {
		color: $black;
		&:hover {
			color: $white;
		}
	}
	
	.github {
		-webkit-box-shadow: inset 0 0 0 1px #29231f, 0 0 0 1px #29231f;
		box-shadow: inset 0 0 0 1px #29231f, 0 0 0 1px #29231f;
		&:hover {
			background-color: $white;
		}
	}
	
	
	@media screen and (max-width: $mobile) {
		nav {
			position: relative !important;
			text-align: center;			
		}
		.download {
			color: $white;
			&:hover {
				color: $black;
			}
			
		}
	
		.github {
			-webkit-box-shadow: none;
			box-shadow: none;
			background-color: $white;
			&:hover {
				background-color: $black;
			}
		}
	}
	

}

section {
	padding: 0 0 20px;
}


footer {
	background: $black;
	padding: 30px 0;
	@include clearfix();
	@include shadow(0, -4px);
	
	h2 {
		padding-top: 2em;
		font-size: 1.7em;
	}
	
	h4 span {
		font-family: $antic;
		font-size: .7em;
		font-weight: normal;
		text-transform: none;
	}
}


.container {
	position: relative;
	width: 1120px;
	margin: auto;	
	
	@media screen and (max-width: $big-screen) {
		width: 95%;
		margin-left: 3%;
	}
}

.column {
	float: left;
	width: 360px;
	margin: 0 0 0 20px;
	text-align: center;
	
	h4, p {
		text-align: left;	
		@media screen and (max-width: $medium-screen) {
			text-align: center;
		}
	}

	@media screen and (max-width: $big-screen) {
		width: 30%;
		margin-left: 3%;
	}
	@media screen and (max-width: $medium-screen) {
		width: 100%;
		margin-left: 0;
		h3 {
			margin-top: 3em;
		}
	}
}

.column:first-of-type {
	margin-left: 0;
}

.tagline {
	color: $brown;
	font-size: 1.2em;
	text-align: center;
	border-bottom: none;
}

.description {
	margin: 100px 50px 0;
	font-family: $antic;
	font-size: 1.8em;
	line-height: 1.6em;
	font-weight: normal;
	text-align: center;
	text-transform: none;
}

.logo {
	display: inline-block;
	margin: 35px 5px 0;
	padding-right: 80px;
	background-repeat: no-repeat;
	height: 47px;
	
	a {
		display: block;
		width: 100%;
		height: 100%;
		text-indent: -9999px;
		overflow: hidden;
	}
	
	@media screen and (max-width: $medium-screen) {
		padding-right: 0;
	}
	
	&.cake {
		margin-top: 13px;
		width: 47px;
		height: 65px;
		background-image: url(../img/cake.png);		
	}
	&.less, &.sass, &.coffeescript {
		display: inline-block;
		margin-left: 13px;
		margin-right: 13px;
		padding-right: 0;
	}
	&.less {
		width: 75px;
		background-image: url(../img/less.png);
	}
	&.sass {
		width: 62px;
		background-image: url(../img/sass.png);
	}
	&.coffeescript {
		width: 108px;
		margin-top: 0;
		background-image: url(../img/coffee.png);
	}
	&.google {
		width: 57px;
		height: 45px;
		background-image: url(../img/google.png);		
	}
	&.auto {
		width: 58px;
		height: 54px;
		background-image: url(../img/auto.png);		
	}
	&.rabbit {
		width: 65px;
		height: 43px;
		background-image: url(../img/rabbit.png);		
	}
	&.cache {
		width: 47px;
		height: 65px;
		background-image: url(../img/cache.png);		
	}
	&.headers {
		width: 62px;
		height: 44px;
		background-image: url(../img/304.png);		
	}
	&.concat {
		width: 139px;
		height: 43px;
		background-image: url(../img/concat.png);		
	}
	&.minify {
		width: 139px;
		height: 43px;
		background-image: url(../img/minify.png);		
	}
	&.gzip {
		width: 139px;
		height: 43px;
		background-image: url(../img/gzip.png);		
	}
}


.logo + h4 {
	margin-top: 20px;
}


.setting {
	margin-top: 45px;
	color: $yellow;
	font-size: 1.2em;
	font-weight: normal;
}

h3 + .setting {
	margin-top: 0;
}

.default {
	color: $orange;
}

.options {
	display: inline-block;
	margin-bottom: 1em;
	font-size: 1em;
}

.exclamation {
	font-family: courier new, courier, monospace;
}

.red {
	color: $red;
}

.green {
	color: $green;
}

.blue {
	color: $blue;
}

.purple {
	color: $purple;
}

.code_example {
	position: relative;
	height: 160px;
	margin-top: -20px;
}

.code_example code {
	position: absolute;
	top: 50px;
	
	span {
		font-weight: bold;
	}
	
	@media screen and (max-width: $big-screen) {
		position: relative;
		top: 0;
		margin-top: 30px;
	}
}

.code_label {
	position: absolute;
	top: 30px;
	color: $white;
	font-family: $quicksand;
	font-size: .75em;
	line-height: 1.3em;
	text-transform: uppercase;
	
	&:before {
		margin: 0 13px 0 -25px;
		font-family: "fontello";
		content: '\e800';
	}	
	
	&:nth-of-type(even):before {
		content: '\e801';
	}

	&:nth-of-type(even) {
		top: 107px;
		width: 230px;
	}
	
	&:nth-of-type(1):before {
		color: $red;
	}
	
	&:nth-of-type(2):before {
		color: $green;
	}
	
	&:nth-of-type(3):before {
		color: $purple;
	}
	
	&:nth-of-type(4):before {
		color: $blue;
	}
	
	@media screen and (max-width: $big-screen) {
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		width: auto !important;
		margin-left: 25px;
		&:before, &:nth-of-type(even):before {
			content: "●";
			font-size: 1.2em;
		}
	}
}

.js.code_example .code_label {
	&:nth-of-type(1) {
		left: 254px;
	}
	
	&:nth-of-type(2) {
		left: 353px;
	}
	
	&:nth-of-type(3) {
		left: 597px;
	}
	
	&:nth-of-type(4) {
		left: 700px;
	}
}

.css.code_example .code_label {
	&:nth-of-type(1) {
		left: 250px;
	}
	
	&:nth-of-type(2) {
		left: 427px;
	}
	
	&:nth-of-type(3) {
		left: 565px;
	}
	
	&:nth-of-type(4) {
		left: 789px;
	}
	
}


.caption {
	margin-top: -4px;
	font-size: .75em;
	line-height: 1.5em;
}

.note {
	border-bottom: 2px solid $white;
}

.cinchicon {
	width: 30px;
	height: 30px;
	margin: 60px auto;
	background: url(../img/cinchicon.png);
	@include shadow(2px, 2px, 2px, rgba(0,0,0,.5));
}